.App {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    color: #0f0f0f;
}

.router-link {
    text-decoration: none;
    color: #0f0f0f;
}

#main {
    max-width: 1440px;
    margin: 0 auto;
}