* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

@media only screen and (max-width: 1440px) and (min-width: 700px) {
  html {
    font-size: 7.5px !important;
  }
}

body {
  background-color: #FAF9F7 !important;
}

.link {
  color: #0f0f0f;
  text-decoration: none;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
}

button, input {
  outline: none !important;
}

button {
  cursor: pointer;
}
